body {
  background-color: black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 100%;
}

button {
  font-size: 2rem;
  border-radius: 1000px;
  background-color: #1b1b1b;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #3b8beda5, -40px 0 100px #800080a8;
  }
}

button::before {
  position: absolute;
  content: ' ';
  background-image: linear-gradient(to bottom right, #3b8bed, purple);
  height: 107%;
  width: 103%;
  border-radius: inherit;
  z-index: -1;
}