* {
  margin: 0;
  padding: 0;

}

.wrapper {
  border: 2px solid;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
}

@keyframes scrollLeft {

  to {
    left: -400px;
  }
}

.item {
  height: 100px;
  width: 200px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: 100%;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 *(8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 *(8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 *(8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 *(8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 *(8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 *(8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 *(8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 *(8 - 8) * -1);
}
