body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.listing-link {
  text-decoration: none;
  color: black;
}

.f-info {
  display: flex;
  color: #222222 !important;
  height: 8rem;
  background-color: #ebebeb;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* .f-info-socials {
  
} */

.fa-brands {
  color: #222222;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* Card */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

/* card effect */
.listing-card:hover > img {
  opacity: 0.8;
}

/* new page */

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  color: white !important;
}

/* show page */

.btns {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.btn-form {
  width: 7rem;
}

.edit-btn {
  width: 100%;
}

.show-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid; */
  height: 100%;
}

.one-card {
  max-height: 70%;
}

.img-div img {
  object-fit: cover;
  max-height: 30rem;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for map */

#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 400px;
  width: 80vw;
}
