body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#sonyLogo {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  /* border: 2px solid; */
  background-color: black;
  padding: 0.5rem ;
}

#sonyLogo img {
  height: 1rem;
  filter: invert(100%);
}

nav {
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 0.15rem solid #16c5ed;
}
.upper-nav {
  /* border: 2px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.nav-options {
  /* border: 2px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.upper-nav .nav-options img {
  height: 3.5rem;
}

.nav-options a {
  text-decoration: none;
  margin-right: 0.7rem;
  color: black;
}

.nav-options a i {
  color: grey;
}

.nav-options a:hover{
  color: #4b4bc9;
}
.nav-options a:hover > i{
  color: #4b4bc9;
}


.nav-signin i , .signin-btn {
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

.nav-signin i:hover {
  cursor: pointer;
}

.signin-btn {
  background-color: #6c6cee;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.2rem 1rem;

}

.signin-btn:hover {
  background-color: #4b4bc9;
  cursor: pointer;
}

.lower-nav {
  /* position: relative; */
  display: flex;
  /* border: 2px solid; */
  justify-content: center;
  align-items: center;
  background-image: url(./Assets/night-sky-copy.jpg);
  background-size: cover;
  height: 3rem;
}

.lower-nav p {
  color: white;
  margin-right: 1.7rem;
  font-size: 1.2rem;
  text-shadow: 0 0 1rem black;
  font-weight: bold;
}

.lower-nav i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.lower-nav button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65%;
  border: 1px solid black;
  background-color: white;
  /* color: transparent; */
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: bold;
}

.lower-nav img {
  height: 6.2rem;
  align-self: baseline;
  margin-left: 1.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.banners {
  display: flex;
  flex-direction: column;
}

.big-banner {
  /* background-image: url(./Assets/valorant-hero.jpg); */
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 80vh;
  color: white;
  /* box-shadow: inset 20rem -0rem 10rem 10rem black; */
  background: linear-gradient(90deg, #000000, white), url(./Assets/valorant-hero.jpg);
  /* opacity: 50%; */
}

.big-banner img {
  height: 3.5rem;
  filter: invert(100%);
  margin-bottom: 2.5rem;
  align-self: center;
}

.big-banner-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 7rem;
  /* border: 2px solid; */
}

.big-banner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.big-banner-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.big-banner-content button {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
}

.banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner img {
  height: 30%;
  width: 10%;
  
}