.ticket {
  border: 2px solid white;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  height: 4.2rem;
  margin: 1rem auto;
  font-weight: bold;
  width: fit-content;
  padding: 0 2rem;
}

.ticket::before {
  content: "";
  position: absolute;
  height: 190%;
  width: 120%;
  bottom: -10px;
  border: 2px solid yellow;
  border-radius: 8px;
}
