body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    width: 340px;
}

.sidebar nav {
    border-radius: 1rem;
    background-color:#121212;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
}

#nav-logo {
    display: flex;
    justify-content: center;
    opacity: 1;
    padding: 0;
}

#nav-logo img {
    height: 2rem;
    filter: grayscale(100%);
    margin-left: 1rem;
}

#nav-logo a {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    margin-left: 1rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0rem;
}

.lib-option img {
    height: 1.25rem;
}

.nav-option img {
    font-size: 1.25rem;
    margin-left: 1rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 2rem 0rem 0.5rem 0rem;
    padding: 0.25rem 1.25rem 1rem 1.25rem;
}



.box-p1 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
    margin-bottom: 1rem;
    font-weight: 500;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
    width: fit-content;
    margin-top: 0.25rem;
}

.dark-badge {
    background-color: #000;
    color: white;
}

.badge:hover {
    opacity: 0.9;
    box-shadow: 0 0 0.2rem 0.3rem #000000;
}

.dark-badge:hover {
    box-shadow: 0 0 0.2rem 0.1rem #fff;
    opacity: 0.7;
}

/* main content */

.main-content {
    background-color: #181818;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 0.5rem 0;
}

.main-nav {
    position: sticky;
    top: 0;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.main-nav-left {
    margin-left: 1rem;
}

.main-nav-right {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-right .nav-item {
    margin-left: 1rem;
    
}

@media (max-width: 1000px) {

    .hide {
        display: none;
    }
}

.cards {
    margin-bottom: 2.5rem;
}

.cards h2 {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    /* background-color: #232323; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 9rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 0.5rem 0 0 1rem;
}

.card:hover {
    background-color: #232323;
}

.card img {
    width: 100%;
    border-radius: inherit;
}

.card-title {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8rem;
}

.footer {
    height: 200px;
    display: flex;
    justify-content: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid #ffffff40;
}

/* Music Player */


.music-player {
    background-color: black;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-player i {
    opacity: 0.6;
}
.music-player i:hover {
    opacity: 1;
}

.album {
    width: 25%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-song {
    display: flex;
    margin-left: 1rem;
    width: 60%;
    border-radius: 10px;
}

.current-song:hover {
    background-color: #232323;
}

.album img {
    height: 3.5rem;
    border-radius: 8px;
}

.album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.album-content p {
    font-size: 0.7rem;
    margin:0.2rem 0 0 1rem;
}

.album-icon {
    margin-right: 1.5rem;
}

.player {
    width: 50%;
    /* background-color: crimson; */
    border-left: 2px solid #ffffff30;
    border-right: 2px solid #ffffff30;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 0.9rem;
    margin: 0 0.75rem 0;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.play {
    height: 2rem;
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    /* height: 0.2rem; */
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 1rem 0;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    margin-top: -7px;
}

.controls {
    width: 25%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-bar {
    margin-left: 0.5rem;
}




