body {
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid; */
  /* width: 30%; */
  margin: 1rem auto;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  height: 10rem;
  width: 10rem;
  border: 0.5rem solid #000000;
  border-radius: 20%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.red {
  background-color: #FF662A;
}

.yellow{
  background-color: #FFA22A;
}

.green {
  background-color: #82AC26;
}

.purple {
  background-color: #4F3F84;
}

.flash {
  background-color: #fff;
}

.userFlash {
  background-color: green;
}

#numbers {
  position: absolute;
  right: -3rem;
  bottom: 2px;
  transform: rotate(90deg);
}