h1 {
    color: rgb(116, 75, 0);
    background-color: rgb(253, 204, 114);
}

p {
    color: purple;
    background-color: rgba(0, 255, 255);
}

button {
    color: chartreuse;
    background-color: rgb(20, 50, 3);
}

#head {
    background-color: rgb(255, 177, 0);
}